modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24332
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BI4M1jbEiITWrkcA6ctNrCU09ACv6MBwEtrFqHH6yqJlkWCtqtDYgYjlkxK5VLWQ8JYTVBsNJCFNdaZE8mMHVYQ"
VAPID_PRIVATE_KEY = "4RUVHRFr_KyNeTRxp82sMBel7wXfL6gRen0P5l_B6k0"
VAPID_SUBJECT = "mailto:quran@app.com"

[nix]
channel = "stable-25_05"
